body {
    background-color: #333333;
  }
  
  .flex {
    display: flex;
  }
  
  .container {
    min-width: 2678px;
    padding: 70px 36px 0 92px;
  }
  
  h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  .categories {
    background-color: #fff;
    padding: 21px 29px 29px 30px;
    border-radius: 10px;
  }
  
  .categories h3 {
    margin-bottom: 20px;
  }
  
  .category label {
    margin-left: 9px;
  }
  
  .category:not(:last-child) {
    margin-bottom: 20px;
  }
  
  /* customCheckbox */
  
  .customCheckbox {
    opacity: 0;
  }
  
  .customCheckbox + label {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    position: relative;
  }
  
  .customCheckbox + label:before {
    content: '';
    position: absolute;
    left: -25px;
    border: 1px solid #999999;
    border-radius: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: none;
    margin-right: 4px;
  }
  
  /* checked */
  .customCheckbox:checked + label:before {
    content: '';
    background: url('../img/customCheckbox.svg') no-repeat center;
    border: 1px solid #CCB26E;
  }
  
  /* disabled */
  .customCheckbox:disabled + label:before {
    content: '';
    background: none;
  }